@tailwind base;
@tailwind components;
@tailwind utilities;

/* Timeline/TimelineEvent.jsx */
div.event-item {
  @apply absolute right-0 top-0;
  opacity: 1;
  width: 100%;
  max-width: 200px;
  height: 100%;
  background-image: var(--image);
  background-position: var(--pos);
  background-repeat: no-repeat;
  background-size: var(--zoom);
  mask-image: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

span.event-name {
  text-shadow: 
    var(--color) -1px -1px 4px,
    var(--color) 1px -1px 4px,
    var(--color) -1px 1px 4px,
    var(--color) 1px 1px 4px,
    var(--color) 0 0 10px;
}

/* Timeline/index.jsx */
.timelineContainer {
  @apply w-full overflow-x-auto relative;
  @apply bg-opacity-30 bg-item;
  @apply border border-button rounded-2xl;
  @apply shadow-inner;
}

.timelineContainer::-webkit-scrollbar {
  height: 8px;
}

.timelineContainer::-webkit-scrollbar-track {
  @apply bg-transparent;
  margin: 0 20px;
}

.timelineContainer::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.35);
  @apply rounded-xl;
}

.month::before {
  @apply content-[''] w-full h-full -z-10 inline-block absolute left-[calc(50%-50px)] px-[50px] bg-month-gradient;
}

.scroll-overflow {
  @apply inline-flex whitespace-nowrap w-max pr-[var(--gap,0.5rem)];
  animation: scroll-animation var(--scroll-duration) infinite linear;
}

@keyframes scroll-animation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-33.333%);
  }
}

.modal-watermark {
  @apply bg-modal-watermark backdrop-blur-modal;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.3s ease-out;
}


